@tailwind utilities;
@tailwind base;
@tailwind components;

body {
  background-image: var(--bg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
html[data-theme="dark"] {
  --bg: linear-gradient(135deg, #0a0f1a, #121d25);
}

html[data-theme="light"] {
  --bg: linear-gradient(135deg, #6b87c2, #0a9c9c);
  --text: #000000;
}
